[Desktop Entry]
Name=Install Manjaro Linux (cli)
Name[pl]=Zainstaluj Manjaro Linux (cli)
GenericName=Cli Installer
Comment=Install the operating system to disk
Comment[pl]=Zainstaluj Manjaro Linux na swoim komputerze
Exec=sudo /usr/bin/setup
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;
