[Unit]
Description=LiveMedia MHWD Script
Before=systemd-user-sessions.service
After=livecd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mhwd-live

[Install]
WantedBy=multi-user.target
