[Unit]
Description=LiveMedia Pacman mirrors ranking script
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-mirrors -m rank -t 30 --geoip

[Install]
WantedBy=multi-user.target
