[Unit]
Description=LiveMedia Pacman mirrors randomizer script
Before=systemd-user-sessions.service
#After=network-online.target
#Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-mirrors -m rank --geoip

[Install]
WantedBy=multi-user.target
