[Unit]
Description=LiveMedia Pacman mirrors ranking script
Wants=network-online.target
After=network-online.target
#Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-mirrors -m rank -t 30 --geoip

[Install]
WantedBy=multi-user.target
