[Unit]
Description=LiveMedia Pacman mirror ranking script
Before=systemd-user-sessions.service
Before=pacman-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-mirrors -f 5

[Install]
WantedBy=multi-user.target
